<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<a href="/urls"><h1>TinyApp</h1></a> 

<% if (locals.user) { %>
<h2>Logged in As: <%= user["email"] %></h2>
<a href="/urls/new">Create New TinyURL</a>
<form method="POST" action="/logout">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
<%} else { %>
    <form method="GET" action="/login">
        <button type="submit" class="btn btn-primary">LogIn</button>
    </form>
    <form method="GET" action="/register">
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
<%} %>

<!-- 
<% if (!locals.user) { %>
<form method="GET" action="/login">
    <button type="submit" class="btn btn-primary">LogIn</button>
</form>
<form method="GET" action="/login">
    <button type="submit" class="btn btn-primary">LogIn</button>
</form>

<%} %>

<% if (!locals.user) { %>
<form  method="GET" action="/register">
    <button type="submit" class="btn btn-primary">Register</button>
</form>
<%} %> -->