<!DOCTYPE html>
<html lang="en">
<head>
<% include ./partials/_header.ejs %>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <h1>TinyApp</h1>
    <a href="">Create New TinyURL</a>
    <p>TinyURL for <%= longURL %></p>
    <a href=“/u/<%= shortURL %>“><%= shortURL %></a>
</body>
</html>